{% load crispy_forms_tags %}

<div class="form-control {{ field.css_classes }}">

  {% if field.label %}
    <label class="label">
        {{ field.label }}
    </label>
  {% endif %}

  <select
    name="{{ field.name }}"
    {% for name, value in field.field.widget.attrs.items %}
      {{ name }}="{{ value }}"
    {% endfor %}
  >
    {% for value, text in field.field.choices %}
      <option value="{{ value }}"
        {% if value|stringformat:"s" == field.value|stringformat:"s" %}
          selected
        {% endif %}
      >
        {{ text }}
      </option>
    {% endfor %}
  </select>

  {% if errors %}
    <p class="text-error text-sm mt-1">
      {{ errors|join:", " }}
    </p>
  {% endif %}

</div>


 